// Google material design box shadow helper.
//------------------------------------------------------------------------------

@mixin box-shadow($level) {
	@if $level == 1 {
		box-shadow: 0 1px 3px black(0.12), 0 1px 2px black(0.24);
	} @elseif $level == 2 {
		box-shadow: 0 3px 6px black(0.16), 0 3px 6px black(0.23);
	} @elseif $level == 3 {
		box-shadow: 0 10px 20px black(0.19), 0 6px 6px black(0.23);
	} @elseif $level == 4 {
		box-shadow: 0 14px 28px black(0.25), 0 10px 10px black(0.22);
	} @elseif $level == 5 {
		box-shadow: 0 19px 38px black(0.30), 0 15px 12px black(0.22);
	}
}
