doctype xml
data
  features-title
    | Features
  theme-features-title
    | Theme Features
  support-title
    | Support
  customer-support-title
    | Customer Support
  settings-title
    | Settings
  demo-settings-title
    | Demo Settings
  themes
    - # Monobloc
    theme title="Monobloc Theme" version="1.0.0" demo-url="http://monobloc-theme.tumblr.com" purchase-url="https://creativemarket.com/PixelMoxie/749418-Monobloc-Tumblr-Theme" theme-garden-url="javascript:;"
      modal
        features
          description
            | <![CDATA[
            markdown:
              # Introduction

              **Monobloc** is a modern and slick portfolio theme for [Tumblr](https://www.tumblr.com), aimed at designers, photographers, illustrators, and all kind of creative folks. **Monobloc** cleverly implements Ajax functionality for a smooth and polished user experience, while giving you tons of customization options.

              # Features

              * Fully responsive and retina ready---looks great on any device.
              * Several built-in *Color Schemes* to change the mood of your portfolio site in a matter of seconds: *Outer Space*, *Alto*, *Dualism*, *Purple Rain*, and *Silver*.
              * Easy color palette customization. You can change the *Accent* and *Link Colors* while keeping the chosen color scheme base colors for a quick and painless makeover, or select to override all of the scheme colors for a complete do-over.
              * All post types are supported. Even if *Photo* and *Video* are the preferred and most obvious post type choices for this kind of theme, *Text*, *Quote*, *Link*, *Chat*, *Audio*, and *Answer* posts are displayed nicely on the grid as well.
              * Slick *Portfolio Expander* for your projects powered by Ajax. **Monobloc** uses the browser's pushState() method for a seamless integration between the homepage and permalink pages.
              * Filterable portfolio grid the employs a set of user-defined filter terms to leverage Tumblr's post tags.
              * Three different *Grid Layout Types*: *Standard*, *Segmented Rows*, and *Masonry*.
              * Ability to set the number of grid columns for different devices and screen sizes and orientations, from phones to tablets and desktops (for the *Standard* grid layout type).
              * Easily change the thumbnails *Aspect Ratio* to accommodate square, landscape, or portrait oriented media.
              * Easily change the thumbnails divider style: *Edison*, *Zig-zag*, *Curvy*, or *Straight*.
              * Option for *Minimal Thumbnail Overlays* that does away with buttons and dividers and shows project titles only.
              * Slick off-canvas *Site Aside* with smooth CSS3 transitions that holds your website description, navigation, social icons, and your Twitter feed.
              * Option to display a *Welcome Screen* above the portfolio grid to greet your visitors.
              * *Supercharged Photosets*: display multiple images as *Stacked Images*, *Photoset Grids*, or with a slick *Flickity Slider*.
              * Supported pagination styles: *Standard*, *Click to Load More*, and *Endless Scrolling*.
              * Use custom "cover" or "featured" images (that appear only on the grid thumbs) for any post of any type, including *Photo* and *Photoset* posts.
              * Slick *Sharing Widget* on permalink pages, including services like *Twitter*, *Facebook*, *Google+*, and *Pinterest*.
              * Supports Disqus and Facebook comments.
              * Options to display *Dribbble*, *Instagram*, and *Flickr* feeds below the portfolio grid.
              * Easily hide Tumblr controls on desktop and mobile for a more "white label" website experience.
              * *Google Fonts*: **Monobloc** includes a curated selection of body-friendly webfonts you can choose from, plus you can customize buttons and headings with any specimen from the Google fonts directory.
              * *Social Icons Widget* with options for the following services: *Email*, *RSS*, *Facebook*, *Skype*, *500px*, *AboutMe*, *Bandcamp*, *Behance*, *Blogger*, *Codepen*, *Delicious*, *DeviantArt*, *Digg*, *Dribbble*, *Dropbox*, *Envato*, *Etsy*, *Flickr*, *Forrst*, *Foursquare*, *Github*, *GooglePlus*, *IMDb*, *Instagram*, *Kickstarter*, *Klout*, *Lastfm*, *Linkedin*, *Medium*, *MySpace*, *Path*, *PayPal*, *Periscope*, *Picasa*, *Pinboard*, *Pinterest*, *Pocket*, *Polldaddy*, *Quora*, *Rdio*, *Reddit*, *Society6*, *Shop*, *SoundCloud*, *Spotify*, *Squarespace*, *Stumbleupon*, *Technorati*, *Tumblr*, *Twitch*, *Vimeo*, *Vine*, *WordPress*, *Yelp*, *Youtube*, and *Zerply*.
              * And much, much more!
            | ]]>
        support
          description
            | <![CDATA[
            markdown:
              # Customer Support

              We've been lovingly crafting Tumblr themes since 2012 and we're proud of each contribution we've made to the Tumblr theme ecosystem. Even though our themes are tested extensively, bugs may still pop up, and when they do, we try to fix them as fast as humanly possible. If you encounter any issue, please [send us an email](mailto:sayhi@pixelmoxie.net) or [tweet at us](http://twitter.com/pixelmoxie). Our themes come fully backed by friendly, dedicated, one-to-one support.

              Don't hesitate to [get in touch](mailto:sayhi@pixelmoxie.net) for general inquiries and theme suggestions either!

              Please keep in mind that support does not include theme installation services or customization services, beyond basic tweaks.
            | ]]>
        settings
          description
            | <![CDATA[
            markdown:
              # Demo Settings
            | ]]>
          controls
            group title="Color Scheme"
              control type="radio" name="Color Scheme" id="Outer Space" checked="checked" Outer Space
              control type="radio" name="Color Scheme" id="Alto" Alto
              control type="radio" name="Color Scheme" id="Dualism" Dualism
              control type="radio" name="Color Scheme" id="Purple Rain" Purple Rain
              control type="radio" name="Color Scheme" id="Silver" Silver
            group title="Thumbs Divider Style"
              control type="radio" name="Thumbs Divider Style" id="Edison" checked="checked" Edison
              control type="radio" name="Thumbs Divider Style" id="Zig-zag" Zig-zag
              control type="radio" name="Thumbs Divider Style" id="Curvy" Curvy
              control type="radio" name="Thumbs Divider Style" id="Straight" Straight
            group title="Accent Color"
              control type="swatch" name="Accent Color" id="#ff4c64" #ff4c64
              control type="swatch" name="Accent Color" id="#46b7dd" #46b7dd
              control type="swatch" name="Accent Color" id="#33b787" #33b787
              control type="swatch" name="Accent Color" id="#f44336" #f44336
              control type="swatch" name="Accent Color" id="#fdd835" #fdd835
              control type="swatch" name="Accent Color" id="#6464d9" #6464d9
            group title="Miscellaneous"
              control type="checkbox" name="Center Project Expander" Center Project Expander
              control type="checkbox" name="Minimal Thumbs Overlays" Minimal Thumbs Overlays
              control type="checkbox" name="Colored Social Icons" Colored Social Icons
