doctype xml
data
  features-title
    | Features
  theme-features-title
    | Theme Features
  support-title
    | Support
  customer-support-title
    | Customer Support
  settings-title
    | Settings
  demo-settings-title
    | Demo Settings
  themes
    - # Monobloc
    theme title="Monobloc Theme" version="1.0.0" demo-url="http://monobloc-theme.tumblr.com" purchase-url="javascript:;" theme-garden-url="javascript:;"
      modal
        features
          description
            | <![CDATA[
            markdown:
              __Monobloc__ is a modern and slick portfolio theme for Tumblr, aimed at designers, illustrators, and all kind of creative folks. It cleverly implements Ajax functionality for a smooth and polished user experience.

              Get to know all of [Monobloc](http://pixelmoxie.net/themes/monobloc/) features or read the [online documentation](http://pixelmoxie.net/demo/monobloc_tumblr/documentation/).

              [Purchase Theme](href="http://pixelmoxie.net/themes/monobloc/)
            | ]]>
        support
          description
            | <![CDATA[
            markdown:
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.

              Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.

              Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.
            | ]]>
        settings
          description
            | <![CDATA[
            markdown:
              # Demo Settings
            | ]]>
          controls
            group title="Color Scheme"
              control type="radio" name="Color Scheme" id="Outer Space" checked="checked" Outer Space
              control type="radio" name="Color Scheme" id="Alto" Alto
              control type="radio" name="Color Scheme" id="Dualism" Dualism
              control type="radio" name="Color Scheme" id="Silver" Silver
            group title="Thumbs Divider Style"
              control type="radio" name="Thumbs Divider Style" id="Edison" checked="checked" Edison
              control type="radio" name="Thumbs Divider Style" id="Zig-zag" Zig-zag
              control type="radio" name="Thumbs Divider Style" id="Curvy" Curvy
              control type="radio" name="Thumbs Divider Style" id="Straight" Straight
            group title="Accent Color"
              control type="swatch" name="Accent Color" id="#ff4c64" checked="checked" #ff4c64
              control type="swatch" name="Accent Color" id="#2898cc" #2898cc
              control type="swatch" name="Accent Color" id="#11b233" #11b233
              control type="swatch" name="Accent Color" id="#ff703f" #ff703f
              control type="swatch" name="Accent Color" id="#33b787" #33b787
            group title="Miscellaneous"
              control type="checkbox" name="Center Project Expander" Center Project Expander
              control type="checkbox" name="Minimal Thumbs Overlays" Minimal Thumbs Overlays
              control type="checkbox" name="Colored Social Icons" Colored Social Icons
