.pmxWidgetModal-rte {
	@include to-em(font-size, $modal-base-font-size);
	padding: $modal-base-line-height-unitless * 1em 5%;
	line-height: $modal-base-line-height-unitless;
	color: $panel-base-text-color;

	&.vr {
		background-image: linear-gradient(rgba($hotpink, 0.5) 1px, transparent 1px);
		background-size: 100% to-em($modal-base-line-height, $modal-base-font-size);
	}

	> * {
		padding: 0;
		margin: 0;

		+ * {
			margin-top: $modal-base-line-height-unitless * 0.75em;
		}
	}

	b,
	strong {
		font-weight: 600;
	}

	:--headings {
		margin-top: $modal-base-line-height-unitless / strip-unit($modal-h3-font-size) * 1em;
		margin-bottom: 0;
		font-family: inherit;
		font-size: $modal-h3-font-size;
		font-weight: 600;
		line-height: $modal-base-line-height-unitless / strip-unit($modal-h3-font-size);
		color: $panel-headings-color;

		&:first-child {
			margin-top: 0;
		}
	}

	h1 {
		margin-top: $modal-base-line-height-unitless / strip-unit($modal-h1-font-size) * 1em;
		font-size: $modal-h1-font-size;
		line-height: $modal-base-line-height-unitless / strip-unit($modal-h1-font-size);
	}

	h2 {
		margin-top: $modal-base-line-height-unitless / strip-unit($modal-h2-font-size) * 1em;
		font-size: $modal-h2-font-size;
		line-height: $modal-base-line-height-unitless / strip-unit($modal-h2-font-size);

		+ p {
			margin-top: $modal-base-line-height-unitless * 0.5em;
		}
	}

	p + h2 {
		margin-top: $modal-base-line-height-unitless / strip-unit($modal-h2-font-size) * 1.5em;
	}

	h3 {
		letter-spacing: 0.0625em;
		text-transform: uppercase;
	}

	ol,
	ul {
		padding-left: 1em + $modal-base-line-height-unitless * 0.5em;
		list-style-position: outside;
	}

	li {
		padding: 0;
		margin: 0;

		+ li {
			margin-top: $modal-base-line-height-unitless * 0.25em;
		}
	}

	a:not([class]) {
		position: relative;
		display: inline-block;
		// padding: 0;
		// margin: 0;
		text-decoration: none;
		transition: color 0.1s;

		&:--anylink {
			color: $panel-link-text-color;
		}

		&:--enter {
			color: $panel-link-text-color-enter;
		}

		&::after {
			@include position(absolute, null 0 0.125em 0);
			display: block;
			border-bottom: 1px solid currentColor;
			content: "";
			opacity: 0.5;
		}
	}

	.button {
		@include to-em(font-size, $panel-button-font-size, $modal-base-font-size);
		@include to-em(height, $button-height, $panel-button-font-size);
		@include to-em(line-height, $button-height, $panel-button-font-size);
		@include to-em(padding, 0 $button-height * 0.5, $panel-button-font-size);
		display: inline-block;
		margin: $modal-base-line-height-unitless * 0.5em 0;
		font-family: inherit;
		font-weight: 600;
		text-decoration: none;
		text-shadow: 0 1px 0 rgba($strap-text-color, 0.24), 0 0 0.5em rgba($strap-text-color, 0.24);
		text-transform: capitalize;
		cursor: pointer;
		border: 0;
		border-radius: $pill-border-radius;
		box-shadow: inset 0 0 0 1px rgba($strap-text-color, 0.1);
		transition: opacity 0.2s;

		&::before,
		&::after {
			display: none;
		}

		&:--anylink,
		&:--enter {
			color: $strap-cta-text-color;
			background: linear-gradient(to bottom, $strap-cta-gradient-top-color, $strap-cta-gradient-bottom-color);
		}

		&:--enter {
			opacity: 0.86;
		}
	}
}
