%strap-links-base {
	font-weight: $bolder-font-weight;
	text-decoration: none;
	transition: color 0.2s;

	&:--anylink {
		color: $strap-text-color;
	}

	&:--enter {
		color: $strap-text-color-emphasis;
	}
}

.pmxWidgetStrap {
	@include box-shadow(1);
	@include position(fixed, null 0 0 null);
	z-index: $strap-z-index;
	display: block;
	margin: $widget-strap-gutter;
	font-size: 0;
	background: $strap-gradient-bottom-color;
	background-image: linear-gradient(to bottom, $strap-gradient-top-color, $strap-gradient-bottom-color);
	border-radius: $pill-border-radius;
	opacity: 1;
	transform: translateY(0) scale(1);
	animation: strap-enter 0.2s $ease-in-out-quad 1s backwards;
	transition: opacity 0.2s $ease-in-out-quad 0.6s, transform 0.2s $ease-in-out-quad 0.6s;
	backface-visibility: hidden;

	.showModal > &,
	.hideStrap > & {
		opacity: 0;
		transform: translateY(120%) scale(0.9);
	}

	&::before {
		@include position(absolute, 0 0 0 0);
		z-index: -1;
		display: block;
		border-radius: $pill-border-radius;
		content: "";
		box-shadow: inset 0 1px 0 0 $strap-highlight-color;
	}

	a {
		@extend %strap-links-base;
	}
}

.pmxWidgetStrap-segment {
	@extend %typography-base;
	@include to-em(height, 44);
	display: inline-block;
	color: $strap-text-color;
	vertical-align: middle;
}

.pmxWidgetStrap-logo {
	@include to-em(width, $strap-logo-width);
	@include to-em(height, $strap-logo-height);
	@include to-em(margin, $strap-logo-vert-margin $strap-logo-side-margin);
	display: block;
}

.pmxWidgetStrap-title {
	:--headings {
		@include to-em(margin, $strap-title-vert-margin $strap-title-right-margin $strap-title-vert-margin $strap-title-left-margin, $strap-title-font-size);
		@include to-em(font-size, $strap-title-font-size);
		display: block;
		font-weight: $bolder-font-weight;
		line-height: 1;
		color: $strap-text-color;
	}
}

// Widget Strap CTA
.pmxWidgetStrap-actions .pmxWidgetStrap-cta {
	@include to-em(margin, $strap-cta-vert-margin $strap-cta-right-margin $strap-cta-vert-margin $strap-cta-left-margin, $strap-cta-font-size);
	@include to-em(padding, $strap-cta-vert-padding $strap-cta-side-padding, $strap-cta-font-size);
	@include to-em(font-size, $strap-cta-font-size);
	display: block;
	font-weight: $bolder-font-weight;
	line-height: 1;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba($strap-text-color, 0.24), 0 0 0.5em rgba($strap-text-color, 0.24);
	cursor: pointer;
	border-radius: $pill-border-radius;
	box-shadow: inset 0 0 0 1px rgba($strap-text-color, 0.1);
	transition: opacity 0.2s;

	&:--anylink,
	&:--enter {
		color: $strap-cta-text-color;
		background: $strap-cta-gradient-bottom-color;
		background-image: linear-gradient(to bottom, $strap-cta-gradient-top-color, $strap-cta-gradient-bottom-color);
	}

	&:--enter {
		opacity: 0.86;
	}
}

.pmxWidgetStrap-cartIcon {
	@include size(13px 12px);
	display: inline-block;
	margin-left: 0.375em;
	font-size: inherit;
	color: inherit;
	vertical-align: -0.125em;
}

// Widget Strap Menu
.pmxWidgetStrap-menu {
	display: block;
	padding: 0;
	margin: 0;
	font-size: 0;
	list-style-type: none;
}

.pmxWidgetStrap-menuItem {
	@extend %typography-base;
	display: inline-block;
	font-size: $base-font-size;
	vertical-align: middle;

	.pmxWidgetStrap-trigger {
		@extend %strap-links-base;
		@include to-em(margin, $strap-menu-items-vert-margin $strap-menu-items-side-margin, $strap-menu-items-font-size);
		@include to-em(padding, $strap-menu-items-padding, $strap-menu-items-font-size);
		@include to-em(font-size, $strap-menu-items-font-size);
		display: block;
		line-height: 1;

		// Ripple
		&.ripple {
			$ripple-size: $strap-height * 1.5px;

			&::before,
			&::after {
				@include size($ripple-size);
				@include position(absolute, 50% null null 50%);
				display: block;
				margin-top: -$ripple-size * 0.5;
				margin-left: -$ripple-size * 0.5;
				pointer-events: none;
				background-color: transparent;
				border: 5px solid $seafoam;
				border-radius: 100%;
				content: "";
				animation: strap-control-ripple 2s infinite $ease-in-out-quad;
				animation-fill-mode: both;
			}

			&::after {
				animation-delay: 0.5s;
			}
		}
	}
}

.pmxWidgetStrap-menuItem:last-of-type {
	@include to-em(margin-right, $strap-menu-items-side-margin-last - $strap-menu-items-side-margin, $strap-menu-items-font-size);
}

// Small handheld styles
@include respond-to(639, max) {
	.has-marketing-widget {
		padding-bottom: $strap-height * 1px;
	}

	.pmxWidgetStrap {
		left: 0;
		margin: 0;
		border-radius: 0;
		animation: strap-enter-phone 0.2s $ease-in-out-quad;

		&::before {
			display: none;
		}
	}

	.pmxWidgetStrap-actions {
		@include position(absolute, 0 0 0 auto);
	}

	.pmxWidgetStrap-cta {
		@include to-em(margin, $strap-cta-vert-margin $base-spacing-medium, $strap-cta-font-size);
	}

	.pmxWidgetStrap-nav {
		display: none;
	}
}

@include respond-to(320, max) {
	.pmxWidgetStrap-branding {
		display: none;
	}

	.pmxWidgetStrap-themeName {
		@include to-em(margin, $strap-title-vert-margin $base-spacing-medium, $strap-title-font-size);
	}
}

@keyframes strap-enter {
	0% {
		opacity: 0;
		transform: translateY(20%) scale(0.9);
	}

	100% {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

@keyframes strap-enter-phone {
	0% {
		opacity: 0;
		transform: translateY(20%);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes strap-control-ripple {
	0% {
		opacity: 1;
		transform: scale(0);
	}

	100% {
		opacity: 0;
		transform: scale(1);
	}
}
