@custom-selector :--anylink :link, :visited;
@custom-selector :--enter :hover, :focus;
@custom-selector :--headings h1, h2, h3, h4, h5, h6;

.pmxWidget {
	@extend %typography-base;
	box-sizing: border-box;

	*,
	*::before,
	*::after {
		box-sizing: inherit;
	}

	&::before {
		// Never visible - used to check if the styles have been loaded
		// and applied to the DOM
		display: none;
		content: "ready";
	}

	svg {
		display: block;
		max-width: 100%;
		max-height: 100%;
		color: inherit;
		pointer-events: none;
		fill: currentColor;
	}

	::selection {
		color: $light-fog;
		background-color: rgba($off-black, 0.9);
	}
}
